<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.free.scp">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_ALL_DOWNLOADS" />

    <application
        android:name=".ScpApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".view.user.WuhanActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".view.eatroom.MealListActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".view.portal.PortalActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".view.feed.TopRatedListActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".view.user.DonationActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.category.ScpListActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".view.detail.DetailActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".view.base.BaseActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".view.user.AboutAppActivity"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="info.free.scp.view.user.AboutAppActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.user.DonationQrActivity"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="info.free.scp.view.user.AboutMeActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity> <!-- <service -->
        <!-- android:name=".service.InitDetailService" -->
        <!-- android:enabled="true" /> -->
        <activity
            android:name=".view.search.SearchActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".view.like.LikeBoxActivity"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="info.free.scp.view.like.LikeBoxActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.like.LikeActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".view.user.LaterAndHistoryActivity"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="info.free.scp.view.user.LaterAndHistoryActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.game.GameListActivity"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="info.free.scp.view.game.GameListActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.user.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="info.free.scp.view.user.SettingsActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.category.SeriesDocActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".view.home.DirectActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".view.draft.DraftEditActivity"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="info.free.scp.view.draft.DraftEditActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.draft.DraftListActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".view.download.DownloadActivity"
            android:screenOrientation="nosensor" />

        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />
        <meta-data
            android:name="android.webkit.WebView.EnableSafeBrowsing"
            android:value="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/gdt_file_path" />
        </provider> <!-- ad -->
        <receiver android:name=".ScpWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.seewo.homewidgets.action.CLICK" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>