<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.free.scp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".ScpApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".view.download.DownloadActivity"
            android:parentActivityName=".BaseActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="BaseActivity" />
        </activity>

        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" /> <!-- <meta-data android:name="TD_CHANNEL_ID" android:value="${UMENG_CHANNEL_VALUE}" /> -->
        <meta-data
            android:name="android.webkit.WebView.EnableSafeBrowsing"
            android:value="true" />

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.category.ScpListActivity" />
        <activity android:name=".view.detail.DetailActivity" />
        <activity android:name=".view.base.BaseActivity" />

        <service
            android:name=".service.InitDetailService"
            android:enabled="true" />

        <activity android:name=".view.user.AboutAppActivity">
            <intent-filter>
                <action android:name="info.free.scp.view.user.AboutAppActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".view.user.AboutMeActivity">
            <intent-filter>
                <action android:name="info.free.scp.view.user.AboutMeActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".view.search.SearchActivity" />
        <activity android:name=".view.user.LikeActivity">
            <intent-filter>
                <action android:name="info.free.scp.view.user.LikeActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".view.user.LaterAndHistoryActivity">
            <intent-filter>
                <action android:name="info.free.scp.view.user.LaterAndHistoryActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".view.game.GameListActivity">
            <intent-filter>
                <action android:name="info.free.scp.view.game.GameListActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.user.SettingsActivity"
            android:label="@string/title_activity_settings">
            <intent-filter>
                <action android:name="info.free.scp.view.user.SettingsActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".view.category.SeriesDocActivity" />
        <activity android:name=".view.home.DirectActivity" />
        <activity android:name=".view.draft.DraftEditActivity">
            <intent-filter>
                <action android:name="info.free.scp.view.draft.DraftEditActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver android:name=".ScpWidgetProvider">
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.seewo.homewidgets.action.CLICK" />
            </intent-filter>
        </receiver>
    </application>

</manifest>